<!DOCTYPE html>
<html>
  <head>
    <title>Test calendar interface</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= controller.controller_name %>">
    <div id="banner">
      <% image_tag("logo.png") %>
      <%= @page_title || t('.title') %>
      <div id="login">
        <% if session[:user_id] %>
          <% "Hello #{User.find(session[:user_id]).email}" %>
          <% link_to t('logout'), logout_url, method: :delete %>
        <% else %>
          <% link_to t('login'), login_path %>
        <% end %>
      </div>
    </div>
    <div id="columns">
      <div id="side"> 
        <ul>
          <li><%= link_to_unless_current t('.home_page'), home_path %></li>
        </ul>
      </div>
      <div id="main"> 
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
    
        <%= yield %>
    
      </div>
      <div id="footer">
        <%= t '.Ñopyright' %>
      </div>
    </div>
  </body>
</html>
